/*---------------------------

        RESET   

------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*---------------------------

        GENERAL

------------------------------*/
section.container > div,
footer.container > div,
main.container > div > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*---------------------------

    TYPOGRAPHY

------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}
h1 {
  font-size: 40px;
  padding-bottom: 40px;
}
main p {
  font-size: 18px;
}

/*---------------------------

    BUTTON

------------------------------*/

.btn {
  border-radius: 20px;
  border: none;
  background-color: white;
  font-size: 16px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.btn.large {
  font-size: 20px;
  padding: 10px 30px;
}
.btn.large.black {
  margin-left: 20px;
  background-color: #23272a;
  color: white;
}
.btn.blue {
  background-color: #8EA1E1;
  color: white;
  padding: 10px 20px;
}

/*---------------------------

    HEADER

------------------------------*/

.head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-background {
  background-color: #255ee9;
  padding: 20px;
}

.header {
  font-size: 24px;
}
/* Header layout styling: Aligns logo, links, and login button */
.header.first {
  min-width: 15%;
}
.header.center {
  min-width: 70%;
  text-align: center;
  word-spacing: 25px;
}
.header.last {
  text-align: end;
  width: 15%;
}

/*---------------------------

    HERO

------------------------------*/
.hero > * {
  color: white;
}
.hero-bg {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.h-main {
  padding: 20px 30px;
  background-color: transparent;
  text-align: center;
}
.hero:first-child {
  padding-top: 130px;
}
.hero:last-child {
  padding-bottom: 170px;
}

/*---------------------------

    MAIN

------------------------------*/

main .grey-bg {
  background-color: #d3d3d3;
  padding-top: 40px;
  padding-bottom: 40px;
}
main .white-bg {
  padding-top: 40px;
  padding-bottom: 40px;
}

.rectangle {
  border-style: dashed;
  border-width: 2px;
  display: flex;
  align-content: center;
}

.img-col img {
  width: 100%;
  height: auto;
}

.written-col {
  width: 30%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.written-col.first,
.written-col.third {
  margin-left: 10%;
}
.written-col.second {
  margin-right: 10%;
}

/* fourth row */

.rectangle.fourth {
  background-image: url("../img/item4-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rectangle.fourth > p {
  text-align: center;
  padding-bottom: 600px;
}
.rectangle.fourth > h3 {
  padding-bottom: 20px;
}

/*---------------------------

    FOOTER

------------------------------*/

footer {
  padding-top: 10px;
  background-color: #23272a;
}
footer .rectangle {
  height: 500px;
  display: flex;
}

.rectangle .small {
  flex-grow: 0.25;
  background-color: #20b2aa;
  border-width: 2px;
  border-color: white;
  border-right-style: dashed;
  border-bottom-style: dashed;
  border-top-style: dashed;
}

.rectangle .medium {
  width: 35%;
  background-color: #ffb6c1;
  border-style: dashed;
  border-width: 2px;
}

footer .last {
  height: 10%;
  font-size: 22px;
  margin-top: auto;
  background-color: #7fffd4;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.feet {
  font-size: 22px;
  background-color: #ffb6c1;
  display: flex;
  border-width: 2px;
  padding: 5px;
  border-style: dashed;
  display: inline-block;
}
.button {
  font-size: 22px;
  background-color: #ffb6c1;
  display: flex;
  border-width: 2px;
  padding: 5px;
  border-style: dashed;
  display: inline-block;
}
/*---------------------------

    Debug

------------------------------*/
